<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
	
  <connectionStrings>
    <!-- 
      ** !IMPORTANT! **
      Be mindful that the connection information you enter here will be available to anyone with access to this file.
      Do not push changes to this file to a cloned GitHub repository.
	  
	  This file is used by several Web API samples including: AsyncParallelOperations, BasicOperations,
	  ConditionalOperations, ParallelOperations, and QueryData.
    -->

    <add name="Connect"
         connectionString="Url=https://vyung01.api.crm5.dynamics.com;
         Authority=null;
         ClientId=9b69c26e-a158-4792-83f4-ad8b1d0a6757;
         RedirectUrl=api://9b69c26e-a158-4792-83f4-ad8b1d0a6757;
         UserPrincipalName=jingwei.zhang@vyung01.onmicrosoft.com;
         Password=Yar57611;
         CallerObjectId=null;
         Version=9.1;
         MaxRetries=3;
         TimeoutInSeconds=180;
         "/>
  </connectionStrings>

</configuration>